

@import '../../../_common/styles/common.scss';



.frame1 {
	// opacity: 1;
}

.frame2 {
	// opacity: 1;
}

.bg1{
	transform-origin: 50% 50%;
	@include pos-scale(-80, -300, .5);
}

.cta2{
	opacity: 0;
}

#banner{
	font-size: 20px;
	color: #333;
	width: 160px;
	height: 600px;
}


#banner:hover .cta2{
	opacity: 1;
}

#banner:hover .cta{
	opacity: 0;
}

.replay{
	svg{
		width: 13px;
		height: 12px;
		position: relative;
		top:2px;
		left: 1px;
	}
	@include pos(5, 4);

	span{

	}

	font-size: 10px;
	color: white;
	cursor: pointer;
	font-family: sans-serif;
	fill: white;

}

.replay:hover{
	fill: black;
	color: black;

}